@import "tailwindcss";

:root {
  --background: #f1f1f1;
  --foreground: #000000;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Space Grotesk', sans-serif, system-ui;
}

/* Custom Neo-brutalism Utilities */
.neo-shadow {
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
}

.neo-shadow-lg {
  box-shadow: 8px 8px 0px 0px rgba(0,0,0,1);
}

.neo-shadow-xl {
  box-shadow: 12px 12px 0px 0px rgba(0,0,0,1);
}
